
.cont-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
  padding: 20px;
  margin: 0 auto;
  max-width: 1200px;
}

/* Heading styles */

/* Category button container */
.category {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.category-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 1200px;
  margin: 0 auto;
}

.category-button {
  color: #71717a;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 1rem;
  cursor: pointer;
  transition: text-decoration 0.3s, color 0.3s;
  font-weight: 500;
}

.category-button:hover {
  text-decoration: underline;
  background-color: transparent;
  color: black;
}

/* Style for selected category */
.category-button.selected {
  color: #18181b;
  font-weight: bold;
  text-decoration: underline;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .category {
    justify-content: flex-start;
  }

  .category-button {
    font-size: 0.9rem;
    flex: 0 0 auto;
    padding: 8px 10px;
  }
}

@media (max-width: 480px) {
  .category-container {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    padding: 0;
    margin: 0;
  }

  .category-button {
    flex: 0 0 auto;
    font-size: 0.7rem;
    padding: 4px 5px;
    margin-right: 6px;
  }

  .category-button:last-child {
    margin-right: 0;
  }
}
