.tile-dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7); /* Dark overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1100;
}

.tile-dialog-content {
  text-align: center;
  padding: 20px;
  position: relative;
}

.yes-tile-dialog {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  max-width: 500px;
  width: 90%;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 1001;
}

.main-tile-image {
  max-width: 70%; /* Adjust this value to make the image smaller */
  height: auto;
  margin-bottom: 20px;
  border-radius: 8px;
}

.event-image {
  max-width: 70%; /* Adjust size of the image */
  height: auto;
  margin-bottom: 20px;
  border-radius: 8px;
}

/* Close button styling */
.close-buttons {
  background: transparent;
  border: none;
  position: absolute;
  top: 10px; /* Adjusted to stay inside the dialog */
  right: 10px; /* Adjusted to stay inside the dialog */
  cursor: pointer;
  color: #333;
  font-size: 24px;
  padding: 0;
  outline: none;
  box-shadow: none;
  z-index: 10000;
}

.close-button:hover {
  color: black;
}

.close-button:focus {
  outline: none; /* Remove outline */
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.normal-input {
  width: calc(100% - 20px);
  padding: 12px 15px; /* Slightly more padding for a better feel */
  border: 1px solid #ddd;
  border-radius: 20px;; /* More rounded corners */
  font-size: 16px;
  margin-bottom: 20px;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  transition: border-color 0.3s ease, box-shadow 0.3s ease; /* Smooth transitions */
}

/* Styling for focus state */
.normal-input:focus {
  border-color: #4a90e2; /* Change border color on focus */
  outline: none; /* Remove default outline */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* More pronounced shadow */
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  align-items: center;
}

/* Style for the yes-bet button */
.yes-bet-button {
  background-color: transparent;
  color: rgb(4, 90, 4);
  padding: 10px 50px; /* Increase horizontal padding */
  border: none;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: block;
  margin: 0 auto; /* Center the button */
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
  border: 2px solid rgb(4, 107, 4) ;
}

/* Hover state for the yes-bet button */
.yes-bet-button:hover {
  background-color: rgb(4, 90, 4);
  color: white; border-color: rgb(4, 90, 4); 
}


.misc {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #666;
  align-items: center;
}

.misc p {
  margin: 0;
  padding: 5px 0;
  display: flex;
  align-items: center;
  font-weight: 650;
}

.misc p svg {
  margin-right: 5px;
  font-size: 18px;
  align-items: center;
}
